// Mozilla webfonts

@font-face {
    font-family: 'ZillaSlab';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/woff/ZillaSlab-Regular.woff2') format('woff2'), url('../fonts/ttf/ZillaSlab-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'ZillaSlab';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/woff/ZillaSlab-Bold.woff2') format('woff2'), url('../fonts/ttf/ZillaSlab-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'ZillaSlab';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/woff/ZillaSlab-Italic.woff2') format('woff2'), url('../fonts/ttf/ZillaSlab-RegularItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'ZillaSlab';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/woff/ZillaSlab-BoldRegular.woff2') format('woff2'), url('../fonts/ttf/ZillaSlab-BoldItalic.ttf') format('ttf');
}

