// Comments and the comment form.

#comments {
    .content {
        @include border-box;
        max-width: $width-desktop;
        padding: 20px 60px;
    }
}

.comments-head {
    margin: 20px auto;

    .cmt-post {
        @include font-size(14px);
    }
}

.comment-list {
    margin: 0;

    .comment,
    .pingback,
    .trackback {
        padding: 20px 0;
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: 0;
        }
    }

    .avatar {
        float: left;
        margin-left: -80px;
    }

    .entry-title {
        @include font-size(16px);
        font-weight: normal;
        margin: 0 0 1em;

        cite {
            font-weight: bold;
            font-style: normal;
        }
    }

    .comment-meta {
        @include font-size(14px);

        a {
            color: $color-text-secondary;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $color-link;
                text-decoration: underline;
            }
        }
    }

    .comment-util {
        @include font-size(14px);
        margin: 0;
    }

    .children {
        margin: 0;

        .comment {
            border-bottom: 0;
            border-top: 1px solid #ccc;
            margin-top: 20px;
            padding-bottom: 0;
            padding-left: 20px;
        }

        .avatar {
            width: 40px;
            height: 40px;
        }
    }

    .mod-message {
        background: #fff2db;
        border: 1px solid #f0dfc0;
        margin-top: 1em;
        padding: .5em 20px;
        text-align: center;
    }

    #comment-form {
        border-top: 0;
        padding-top: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }
}


// Comment form
#comment-form {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 30px;

    legend span {
        @include font-size-level4;
    }

    li {
        margin: 0 0 1em;
    }

    label {
        display: block;
        margin: 0 0 .25em;
    }

    input,
    textarea {
        @include border-box;
        width: 100%;
    }
}

#cancel-comment-reply a {
    @include font-size(14px);
    background: #eee;
    border-radius: 4px;
    border: 2px solid #ccc;
    color: $color-text-secondary;
    display: inline-block;
    padding: .25em 10px;
    text-decoration: none;
}

#comment-form #errors {
  background: #ffeef0;
  border: 1px solid #fac4c7;
  margin-bottom: 1em;
  padding: .5em 15px .25em;
}

#comment-form .err {
  background: #ffeef0;
}

#comment-form #cmt-ackbar {
  @include visually-hidden;
}
