// Open Sans webfonts

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/opensans-regular.woff2') format('woff2'),
         url('fonts/opensans-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/opensans-bold.woff2') format('woff2'),
         url('fonts/opensans-bold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: italic;
    src: url('fonts/opensans-italic.woff2') format('woff2'),
         url('fonts/opensans-italic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: url('fonts/opensans-bolditalic.woff2') format('woff2'),
         url('fonts/opensans-bolditalic.woff') format('woff');
}

