// Full posts and pages

.post-image-full {
    @include gradient-horizontal-three-colors(#fff, #eee, 50%, #fff);
    margin: -20px auto 20px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    max-height: 200px;

    img {
        display: block;
        margin: 0 auto;

        &.size-post-full-size {
            @include transform(translateY(-15%));
            position: relative;
            top: 50%;

            @media #{$mq-phone-wide} {
                @include transform(translateY(-25%));
            }
        }
    }

    @media #{$mq-tablet} {
        margin: 0 auto 40px;
        max-height: none;
        height: 200px;

        img.size-post-full-size {
            @include transform(translateY(-50%));
        }
    }

    @media #{$mq-desktop} and #{$mq-tall} {
        height: 400px;
    }
}

.single,
.page {
    .entry-header {
        .entry-title {
            @include font-size-level1;
            margin-top: .5em;
        }

        .entry-tools {
            @include clearfix;
            margin: 0 0 40px;

            b {
                @include visually-hidden;
            }

            @media #{$mq-tablet} {
                margin-bottom: 20px;
            }
        }

        .categories {
            margin-bottom: 20px;

            a {
                @include category-link;
            }

            @media #{$mq-tablet} {
                float: left;
                width: 50%;
                margin-bottom: 0;
            }

            @media #{$mq-desktop} {
                width: 60%;
            }
        }

        .entry-info {
            margin-bottom: 20px;

            .vcard {
                border-right: 1px solid #ccc;
                display: inline;
                font-style: normal;
                margin-right: 10px;
                padding-right: 10px;
            }

            .date {
                display: inline;
            }
        }

        .entry-comments,
        .meta,
        .edit {
            display: inline;
            border-left: 1px solid #ccc;
            margin-left: 10px;
            padding-left: 10px;
        }
    }

    .post {
        @include single-size;
    }

    .entry-content {
        @include clearfix;
        margin-bottom: 40px;

        h2 {
            @include font-size-level3;
        }

        h3 {
            @include font-size-level4;
        }

        h4, h5, h6 {
            @include font-size(16px);
        }

        dt {
            font-style: italic;
        }

        dd {
            padding-left: 30px;
        }

        blockquote {
            border-left: 2px solid #000;
            color: $color-text-secondary;
            padding: .25em 30px;

            > :last-child {
                margin-bottom: 0;
            }
        }

        pre {
          overflow: auto;
        }

        code {
          @include font-size(14px);
        }

        hr {
          background: transparent;
          border-top: 1px solid #ccc;
          clear: both;
          color: transparent;
          margin: 30px auto;
        }

        iframe {
          max-width: 100%;
        }

        .alignleft {
            float: left;
            margin: 0 30px .5em 0;

            &.size-large,
            &.size-medium,
            &.size-extra-large {
                float: none;
                display: block;
                margin: 0 0 1.5em;
            }
        }

        .alignright {
            float: right;
            margin: 0 0 .5em 30px;

            &.size-large,
            &.size-medium
            &.size-extra-large {
                float: none;
                display: block;
                margin: 0 0 1.5em;
            }
        }

        .wpml-ls {
            border-top: 2px solid #000;
            margin-top: 2em;
            padding-top: 1em;
        }

        @media #{$mq-phone-wide} {
            .alignleft.size-medium {
                float: left;
                margin: 0 30px .5em -20px;
            }

            .alignright.size-medium {
                float: right;
                margin: 0 -20px .5em 30px;
            }
        }

        @media #{$mq-tablet} {
            .alignleft {
                margin-left: -60px;

                &.size-medium {
                    margin-left: -60px;
                }
            }

            .alignright {
                margin-right: -60px;

                &.size-medium {
                    margin-right: -60px;
                }
            }
        }

        @media #{$mq-desktop} {
            .alignleft.size-large {
                float: left;
                margin: 0 30px .5em -60px;
            }

            .alignright.size-large {
                float: right;
                margin: 0 -60px .5em 30px;
            }
        }
    }

    // First paragraph gets special treatment
    @media #{$mq-tablet} {
        .post,
        .page {
            .entry-content > p:first-child {
                @include font-size(20px);
                min-height: 70px;

                &:first-line {
                    @include font-size(24px);
                }

                &::first-letter {
                    @include font-size(72px);
                    background: #000;
                    color: #fff;
                    float: left;
                    font-style: normal;
                    font-weight: normal;
                    letter-spacing: .075em;
                    line-height: .8;
                    margin-right: 4px;
                    padding: .125em 0 .125em 5px;
                    vertical-align: bottom;
                }
            }
        }
    }

    .entry-tags {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #ccc;
    }
}

.page--sidebar {
  @media #{$mq-tablet} {
    float: left;
    width: 60%;
  }
}

.image-attachment,
.not-found {
    @include single-size;
}
